body{
    font-family: Roboto,serif;
    font-size: 16px;
  line-height: 24px;
  color: #404040;
  margin: 0;
}
.container{
    position: fixed;
    display:flex;
   align-items: flex-end;
    width: 100%;
    top: 0;
}
/*header-section*/

.header-section{
    background-color:#2c3e50 ;
    color: white;
    height: 80px;
    left: 0;
    position:fixed;
    width: 100%;
    top: 0;
   
    
}
.header-section nav{
    display: flex;
}
.menu {
    background-color:transparent;
    color:#00b300;
    padding-left: 290px;
    margin-top: 28px;
    margin-bottom: 25px;
    outline: none;
    border: none;
    
}
.menu a{
    outline-style: none;
    text-decoration: none;
    color: #00b300;
    border: none;
    outline: none;
}

.logo {height: 50px;
    width: 110px;
    padding: 10px;
    position: absolute;
    left: 140px;
    top: 7px
;}
.search{
    outline: none;
    background-color: transparent;
    border: none;
    margin-left: 1035px;  
}
.search a{
    color: white;
    font-size: 16px;
}
.search a:hover{
    color: #00b300;
}

/*modal*/

.modal{
    background-color: white;
    position: absolute;
    width:40%;
    height: 35%;
    align-items: center;
    text-align: center;
  display: none;
   overflow: auto;
}

.modal-title{
font-size: 20px;
font-family:'Roboto' sans-serif;
font-weight: lighter;
}

.modal-header{
    height: 9%;
    border-bottom:#d9d9d9 1px solid;
}
.modal-body{
    color: black;
    height:100px;

}
.search-box{
    width: 80%;
    height: 40%;
    top: 10px;
    border:solid 1px #00b300;
    border-radius: 3px;
    margin-top: 30px;
    font-size: 14px;
}

.modal-search{
    color: white;
    background-color: #00b300;
    border: none;
    width: 60px;
    height: 40px;
    border-radius: 3px;
    left: 0;
}
.modal-search:hover{
    background-color: #00802b;
}
.modal-footer{
    height:10%;
    border-top: #d9d9d9 1px solid;
 
}

.btn-btn-default{
    width: 70px;
    font-weight:100px;
    height: 40px;
    margin-top: 17px;
    margin-bottom: 15px;
    margin-left: 500px;
    border: none;
    border-radius: 3px;
    background-color: #d9d9d9;
}
.btn-btn-default:hover{
    background-color: white;
}
 .close{
     border: none;
     background-color: transparent;
     float: right;
     cursor: pointer;
     font-size: 20px;
     top: 2px;
     color: #d9d9d9;
 } 
 .close:hover{
     color: #8c8c8c;
 }
 article{
    height: 650px;
    width: 363px;
    margin-left: 70px;
    margin-top: 330px;
    padding-top: 2px;
    display: inline-block;
    text-align: center;
 }
/* article 1 */


 /* some text*/
.tabs {
line-height:27px;
}
.text1{
    font-family: Roboto,sans-serif;
    text-size-adjust: 16px;
    display: inline center;
    margin-left: 75px;
    color: #404040;
    line-height: normal;
    margin-bottom: 40px;
    font-weight: bold;        
}
.next1 {
    outline: none;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-family: Roboto,sans-serif;
    font-size: 16px;  
    bottom: -10px; 
    font-weight:600; 
}
.next1 a{
    outline: none;
    text-decoration: none;
    color: #404040;
    margin-left: 1200px;       
}
.next1 a:hover{
    color: #39ac39;
}
/* container 2 */

.container2{
   width: 100%;
   display: fixed;
}
.section2{
  background-color: #090d11;
  color: #909090;
  border-bottom: solid #0e151b;
  display: flex;
  position: relative;
  height: 400px;
  width:100%;
  padding: 0;
  margin: 0 auto;  
}
.section2 nav{
    display:flex ;
    margin-left:600px;
    margin-top: 30px;
   justify-content: flex-end;
   padding-right: 50px;
   align-items: center;
  }
  .menu2{
      list-style: none;
      margin-top:3%;
    margin-left:40%;
  }
  .menu-item{
      font-family: Roboto,sans-serif;
      font-size: 18px;
      display: inline-block;
      padding-right: 280px;
     line-height:27px;   
  }
  .item{
      font-display: inline;
      margin-top: 30px;
      padding-left: 375px;
      font-size: 16px;
      font-family: Roboto,sans-serif
  }
  .item2{
      font-family: Roboto,sans-serif;
      font-size: 18px;
      margin-top: 100px;
  }
  .box{
      display: inline;
      padding-left: 380px;
      
  }
  .email-box{
      height: 36px;
      width: 270px;
      margin-top: 50px;
      left: 50px;
      border: none;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
  }
  .email-button{
      width:100px;
      height: 38px;
      margin: 0;
      color: white;
      background-color: #39ac39;
      border: none;
      font-family: Roboto,sans-serif;
      font-size: 14px;
      border-top-right-radius: 4px;
	border-bottom-right-radius: 4px; 
    cursor: pointer;   
  }
  .email-button :hover{
      background-color: #00802b;

  }

  .item2{
      margin-left: 385px;
      margin-top: 50px;
  }

  .site-header{
      text-align: center;
  }
  .contacts{
    margin-left: 1020px;
  }
.contacts a{
    margin: 15px;
    text-align: center;
    color: white;
    background: transparent;
  font-size: 100x;
}
.contacts a :hover{
    color: #00b300;
}
.last{
 display: center;
 font-family:'Roboto',sans-serif;
 font-weight: bold;
 font-size: 16px;
 word-spacing:1px; 
 margin-left:560px ;

 
}
.title-last{
    list-style: none;
    display:inline-flex;
    color:#909090 
}
.title-last a{
    text-decoration: none;
    outline: none;
    color:white;
    word-spacing:2px;
}
.title-last a:hover{
    color:#00b300;
}


article{
    margin-top: auto;
    height: 650px;
    width: 363px;
    border: solid 1px #d9d9d9;
    
    }
 img{
        width:100%;
        height: auto;
        height: 235px;
        width: 363px;
    }

    .button-li{
        display:contents;
        text-align:center;
           
    }
    .button-li a{
        outline: none;
        text-decoration: none;
        background-color: #39ac39;
        color: white;
        border-radius: 5%;
        margin: 0px 2px 6px 0px ;
        padding: 5px 16px;
        line-height: 28px;
        font-size: 12px;
        font-family: Roboto,sans-serif;
    }
    .button-li a:hover{
        background-color: #00802b;
        color: white;
    }
    .title{
        font-weight: lighter;
    }
    .title a{
        font-family: Lora,serif;
        font-size: 24px;
        outline: none;
        color: black;
        text-decoration: none;
        text-align: center;
        margin:auto;
    }
    .title a:hover{
        color: #39ac39;
    }
    .button-t{
        font-family:'Roboto',sans-serif;
        font-weight: lighter;
        }
        
        .button-t a {
            outline: none;
            text-decoration: none; 
            background-color: #39ac39;
            color: white;
            border-radius: 5%;
          padding: 5px 16px;
            text-align: center;
            line-height: 28px;
            font-size: 12px;
            
        }  
        .button-t a:hover{
            background-color:#00802b ;
            color: white;
        }
       
       
     
       .container-cont{
           display:flex;
          gap: 30px 40px;
           flex-wrap: wrap;
       }
   .items{
   margin-top: 130px;  }
   
    .text1{
        font-family: Roboto,sans-serif;
       font-size: 16px;
        color: #404040;
        font-weight: bold; 
        margin-left: 43%;
        margin: top 30px; ;
      
              
    }
    .next1 {
        outline: none;
        text-decoration: none;
        border: none;
        background-color: transparent;
        font-family: Roboto,sans-serif;
        font-size: 16px;  ; 
        font-weight:600;
        left: 20px;
        margin-bottom: 50px;
    }
    .next1 a{
        outline: none;
        text-decoration: none;
        color: #404040;
        margin-left: 1200px;       
    }
    .next1 a:hover{
        color: #39ac39;
    }